@use '@picocss/pico/scss';

.main-layout {
  margin-right: 50px;
  margin-left: 50px;
}

.full-width {
  width: 100%;
}

.btn-no-hover {
  pointer-events: none;
}

.btn-answer {
  border-color: lightgreen;
  background-color: black;
  color: lightgreen;
  font-size: 0.8rem;
  white-space: wrap;
}

.btn-answer:hover {
  border-color: lightgreen;
  background-color: green;
  color: white;
}

.btn-is-selected {
  border-color: lightgreen;
  background-color: green;
  color: white;
}

.btn-is-wrong {
  border-color: lightcoral;
  background-color: red;
  color: white;
}

.is-red {
  background-color: red;
  color: white;
}

.is-grey {
  background-color: grey;
  color: white;
}

.is-green {
  background-color: green;
  color: white;
}
